<!-- <p>user-item-sidebar works!</p>
{{id}}
{{user[0].name}} -->

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.name}}</mat-card-title>
      <mat-card-subtitle>tel: {{user.phone}}</mat-card-subtitle>
      <mat-card-subtitle>
        <label for="phone">changePhone:  </label> 
        <input type="text" name="phone" id="phone" [(ngModel)]="user.phone" placeholder="phone">
        <button (click)="changingPhoneNumber()">Змінити номер телефона</button>
        <input type="text" name="phone" id="phone" [formControl]="control" placeholder="phone">
        <button (click)="formControlValueFn()">Змінити телефон (Raeact form)</button>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>