
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>


  <div class="example-spacer">
    <a href="#"> home</a> 
  </div>

  
  <div class="example-spacer">
    <a routerLink="/users"> users</a>  
  </div>
  <button mat-button [matMenuTriggerFor]="menu">Doc</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><a href="ang-mat"> ang-material</a></button>
    <button mat-menu-item>    <a routerLink="/doc">docRouterLink</a></button>
  </mat-menu>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
 
<router-outlet></router-outlet>
