
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer">
    <a href="#"> home</a> 
  </span>
  <span class="example-spacer">
    <a href="#"> dashbord</a>  
  </span>
  <div class="example-spacer">
    <a href="#"> home</a> 
  </div>
  <div class="example-spacer">
    <a href="doc">doc</a>  
  </div>
  <div class="example-spacer">
    <a href="ang-mat"> ang-material</a>
  </div>
  <div class="example-spacer">
    <a href="users"> users</a>  
  </div>
  <div class="example-spacer">
    <a href="#"> dashbord</a>  
  </div>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
 
<router-outlet></router-outlet>
<p>dashbord</p>